.Service {
    will-change: background-color;
    transition: background-color 200ms ease-in-out;

    background-color: rgba(0, 0, 0, .1);
    color: white;
    border-radius: 7px;
    padding: .25em;
    text-align: left;
    line-height: 1;
    vertical-align: baseline;

    display: grid;
    grid: 1fr / 1fr 2fr 4fr;
    gap: 20px;
    padding: 1em;
    
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.Service__logo {
    background: rgba(255, 255, 255, .8);
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Service__logo img{
    max-height: 40px;
    width: 100%;
}

.Service__name {
    font-size: 2.25em;
    display: flex;
    font-weight: 500;
    align-items: center;
}

.Service__renewalDate {
    font-size: 2.25em;
    display: flex;
    font-weight: 800;
    align-items: center;
    margin-left: auto;
}

.Service__ctas {
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    grid-area: 2 / span 3;
    gap: 10px;
}

.Service__cta {
    background: white;
    padding: .25em .5em;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    color: black
}